{"swagger":"2.0","info":{"title":"Default title","description":"","version":"1.0"},"host":"api.openai.com","basePath":"/v1","schemes":["https"],"consumes":[],"produces":[],"paths":{"/completions":{"post":{"responses":{"default":{"description":"default","schema":{"type":"object","properties":{"id":{"type":"string","description":"id"},"object":{"type":"string","description":"object"},"created":{"type":"integer","format":"int32","description":"created"},"model":{"type":"string","description":"model"},"choices":{"type":"array","items":{"type":"object","properties":{"text":{"type":"string","description":"text"},"index":{"type":"integer","format":"int32","description":"index"},"logprobs":{"type":"string","description":"logprobs"},"finish_reason":{"type":"string","description":"finish_reason"}}},"description":"choices"},"usage":{"type":"object","properties":{"prompt_tokens":{"type":"integer","format":"int32","description":"prompt_tokens"},"completion_tokens":{"type":"integer","format":"int32","description":"completion_tokens"},"total_tokens":{"type":"integer","format":"int32","description":"total_tokens"}},"description":"usage"}}},"headers":{"Content-Type":{"description":"Content-Type","type":"string"}}}},"summary":"Complete Text","description":"Complete Text","operationId":"CompleteText","parameters":[{"name":"Content-Type","in":"header","required":true,"type":"string","default":"application/json","x-ms-visibility":"internal"},{"name":"body","in":"body","required":true,"schema":{"type":"object","properties":{"model":{"type":"string","description":"model","title":"","x-ms-visibility":"internal","default":"text-davinci-003"},"prompt":{"type":"string","description":"prompt","title":""},"max_tokens":{"type":"integer","format":"int32","description":"max_tokens","title":"","default":100},"temperature":{"type":"number","format":"float","description":"temperature","title":"","x-ms-visibility":"internal","default":0.8}},"required":["max_tokens","model","prompt","temperature"]}}]}},"/images/generations":{"post":{"responses":{"default":{"description":"default","schema":{"type":"object","properties":{"created":{"type":"integer","format":"int32","description":"created"},"data":{"type":"array","items":{"type":"object","properties":{"url":{"type":"string","description":"url"}}},"description":"data"}}},"headers":{"Content-Type":{"description":"Content-Type","type":"string"}}}},"summary":"Generate Image","description":"Generate Image","operationId":"GenerateImage","parameters":[{"name":"Content-Type","in":"header","required":true,"type":"string","default":"application/json","x-ms-visibility":"internal"},{"name":"body","in":"body","required":false,"schema":{"type":"object","properties":{"prompt":{"type":"string","description":"prompt"},"n":{"type":"integer","format":"int32","description":"n"},"size":{"type":"string","description":"size"}}}}]}}},"definitions":{},"parameters":{},"responses":{},"securityDefinitions":{"api_key":{"type":"apiKey","in":"header","name":"Authorization"}},"security":[],"tags":[]}