{"swagger":"2.0","info":{"title":"AI Services","version":"1.0"},"host":"csu-nl-power-platform-apim.azure-api.net","basePath":"/ai-services","schemes":["https"],"consumes":[],"produces":[],"paths":{"/images/generations":{"post":{"description":"Generate an image.","operationId":"GenerateImage","summary":"Generate image","parameters":[{"name":"Content-Type","in":"header","required":false,"type":"string"},{"name":"body","in":"body","required":false,"schema":{"type":"object","properties":{"prompt":{"type":"string","description":"prompt"},"n":{"type":"integer","format":"int32","description":"n"},"size":{"type":"string","description":"size"},"response_format":{"type":"string","description":"response_format"}}}}],"consumes":["application/json"],"produces":["application/json"],"responses":{"200":{"description":"","examples":{"application/json":{"created":1671791356,"data":[{"url":"https://oaidalleapiprodscus.blob.core.windows.net/private/org-Vsv89aDdfDSu6WPCgGpB4Ub8/user-DE1sl3Ip2nER6g3m4nXA7oKp/img-UBbnOkn9ixmiEyLT4DlZZS2B.png?st=2022-12-23T09%3A29%3A16Z&se=2022-12-23T11%3A29%3A16Z&sp=r&sv=2021-08-06&sr=b&rscd=inline&rsct=image/png&skoid=6aaadede-4fb3-4698-a8f6-684d7786b067&sktid=a48cca56-e6da-484e-a814-9c849652bcb3&skt=2022-12-23T01%3A23%3A35Z&ske=2022-12-24T01%3A23%3A35Z&sks=b&skv=2021-08-06&sig=PEIFKuomwCd5lR5aBw5jkQ3SvvK/zDhfBJca5f1gz0g%3D"},{"url":"https://oaidalleapiprodscus.blob.core.windows.net/private/org-Vsv89aDdfDSu6WPCgGpB4Ub8/user-DE1sl3Ip2nER6g3m4nXA7oKp/img-b7LCQEj7KTjqFlJbBMSpp548.png?st=2022-12-23T09%3A29%3A16Z&se=2022-12-23T11%3A29%3A16Z&sp=r&sv=2021-08-06&sr=b&rscd=inline&rsct=image/png&skoid=6aaadede-4fb3-4698-a8f6-684d7786b067&sktid=a48cca56-e6da-484e-a814-9c849652bcb3&skt=2022-12-23T01%3A23%3A35Z&ske=2022-12-24T01%3A23%3A35Z&sks=b&skv=2021-08-06&sig=VPrwORHlLAX8Dg/ImYjtuCcjCS0TYBXWsQwjDJqGoSw%3D"}]}},"schema":{"type":"object","properties":{"created":{"type":"integer","format":"int32","description":"created"},"data":{"type":"array","items":{"type":"object","properties":{"url":{"type":"string","description":"url"}}},"description":"data"}}}}}}},"/completions":{"post":{"operationId":"CompleteText","summary":"Complete text","parameters":[{"name":"Content-Type","in":"header","required":false,"type":"string"},{"name":"body","in":"body","required":false,"schema":{"type":"object","properties":{"prompt":{"type":"string","description":"prompt"},"max_tokens":{"type":"integer","format":"int32","description":"max_tokens"},"temperature":{"type":"integer","format":"int32","description":"temperature"}}}}],"consumes":["application/json"],"produces":["application/json"],"responses":{"200":{"description":"","headers":{"Content-Type":{"description":"Content-Type","type":"string"}},"examples":{"application/json":{"id":"cmpl-6QZufHiclllIocxfqwtOUVJywiQWt","object":"text_completion","created":1671792597,"model":"text-davinci-003","choices":[{"text":"\n\nThis is indeed a test","index":0,"logprobs":null,"finish_reason":"length"}],"usage":{"prompt_tokens":5,"completion_tokens":7,"total_tokens":12}}},"schema":{"type":"object","properties":{"id":{"type":"string","description":"id"},"object":{"type":"string","description":"object"},"created":{"type":"integer","format":"int32","description":"created"},"model":{"type":"string","description":"model"},"choices":{"type":"array","items":{"type":"object","properties":{"text":{"type":"string","description":"text"},"index":{"type":"integer","format":"int32","description":"index"},"logprobs":{"type":"string","description":"logprobs"},"finish_reason":{"type":"string","description":"finish_reason"}}},"description":"choices"},"usage":{"type":"object","properties":{"prompt_tokens":{"type":"integer","format":"int32","description":"prompt_tokens"},"completion_tokens":{"type":"integer","format":"int32","description":"completion_tokens"},"total_tokens":{"type":"integer","format":"int32","description":"total_tokens"}},"description":"usage"}}}}},"description":"Complete text"}}},"definitions":{},"parameters":{},"responses":{},"securityDefinitions":{"apiKeyHeader":{"type":"apiKey","name":"Ocp-Apim-Subscription-Key","in":"header"},"apiKeyQuery":{"type":"apiKey","name":"subscription-key","in":"query"}},"security":[{"apiKeyHeader":[]},{"apiKeyQuery":[]}],"tags":[]}